<h1> It works! </h1>
{{#each products as |product|}}
<li>id: {{product.id}}</li>
<ul>
  <li>title: {{product.title}}</li>
  <li>description: {{product.description}}</li>
  <li>code: {{product.code}}</li>
  <li>price: {{product.price}}</li>
  <li>status: {{product.status}}</li>
  <li>stock: {{product.stock}}</li>
  <li>category: {{product.category}}</li>
  <li>thumbnails: {{product.thumbnails}}</li>
</ul>
{{/each}}